# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.lock
*.db-shm
*.opendb
*.db
*.db-wal
*.sln
*.vcxproj
*.filters
*.user
*.ipch
.vs/ApparantRidges/v17/.suo
*.bin
include/imgui/imconfig.h
*.idb
*.pdb
x64/Debug/ApparantRidges.tlog/unsuccessfulbuild
*.tlog
*.log
*.recipe
*.ilk
*.txt
*.iobj
*.ipdb
x64/Release/imgui.obj
x64/Release/imgui_draw.obj
x64/Release/ApparantRidges.obj
x64/Release/imgui_demo.obj
x64/Release/imgui_impl_glfw.obj
x64/Release/imgui_tables.obj
x64/Release/imgui_impl_opengl3.obj
x64/Release/imgui_widgets.obj
x64/Debug/imgui_impl_glfw.obj
x64/Debug/imgui_draw.obj
x64/Debug/imgui_demo.obj
x64/Debug/imgui_impl_opengl3.obj
x64/Debug/imgui_tables.obj
x64/Debug/imgui_widgets.obj
x64/Debug/imgui.obj
x64/Debug/ApparentRidges.obj
x64/Release/ApparentRidges.obj
